## pandas
- It is a data analysis library
- also after advancement in it, we can use it for plotting purpose 
- It has 3 data structures:
        > Series[1D]
        > Dataframe[2D]
        > Panel[combination of multiple DataFrames]

In [1]:
# import pandas with aliasing it as 'pd'
import pandas as pd

In [2]:
# check version 
pd.__version__

'1.4.4'

In [3]:
pd

## Series():

In [4]:
print(pd.Series())

Series([], dtype: float64)

C:\Users\abhis\AppData\Local\Temp\ipykernel_2460\1822124305.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  print(pd.Series())

In [5]:
# What is the dtype of an empty numpy array?
import numpy as np
a = np.array([])
a.dtype

dtype('float64')

In [6]:
# check signature or structure of Series
# pd.Series(data=None,index=None,dtype: 'Dtype | None' = None,name=None,copy: 'bool' = False,fastpath: 'bool' = False)

### pd.Series(Data, Index, dtype)

In [8]:
pd.Series()

C:\Users\abhis\AppData\Local\Temp\ipykernel_2460\2031691219.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pd.Series()

Series([], dtype: float64)

In [9]:
data = [10,20,30,40]
pd.Series(data)

0    10
1    20
2    30
3    40
dtype: int64

In [10]:
# in above example as you can see:
# Series returns 3 things- 
# 1. index on left side
# 2. value/data on right side
# 3. dtype of the data in Series

In [14]:
# pd.Series(data,index,dtype)
pd.Series([10,20,33.3,'Python']) # here our data is hetrogeneous, hence we got object as our dtype

0        10
1        20
2      33.3
3    Python
dtype: object

In [15]:
# IMP
# u will get dtype as 'object', in 2 cases:-
#1- when data is hetrogeneous
#2- when u have data of str type

In [16]:
pd.Series(['Ganesh','Reva','Milind']) # 2nd case for getting object as dtype: having data in string format

0    Ganesh
1      Reva
2    Milind
dtype: object

#### background datastructure is array (Numpy array)

In [17]:
n = pd.Series(['Ganesh','Reva','Milind'])
n

0    Ganesh
1      Reva
2    Milind
dtype: object

### indexing is supported

In [18]:
n[0]

'Ganesh'

In [19]:
n[1]

'Reva'

In [20]:
# does it supports negative indexing? --> answer is: NO
n[-1]

KeyError: -1

### slicing is also supported

In [21]:
n[:]

0    Ganesh
1      Reva
2    Milind
dtype: object

In [22]:
n[1:]

1      Reva
2    Milind
dtype: object

In [23]:
n[:2]

0    Ganesh
1      Reva
dtype: object

In [25]:
n[::2] # stepping of 2

0    Ganesh
2    Milind
dtype: object

In [26]:
n[::-1] # in reverse order

2    Milind
1      Reva
0    Ganesh
dtype: object

In [31]:
# can we use negative indexing in slicing?
# YES, we can use 
n[-3:-1]
# in slicing negative indexing works
# But in indexing it wont work

0    Ganesh
1      Reva
dtype: object

### Series is mutable in nature: ie the changes can be performed within it

In [32]:
n

0    Ganesh
1      Reva
2    Milind
dtype: object

In [33]:
n[0]

'Ganesh'

In [35]:
# PS: replace 'Ganesh' by 'Akshay'
id(n)

2551998502512

In [36]:
n[0] = 'Akshay'

In [37]:
n

0    Akshay
1      Reva
2    Milind
dtype: object

In [38]:
id(n)

2551998502512

In [39]:
# as you can see above the id for n remains the same even after performing changes in it.

### Check properties of Series n

In [40]:
n

0    Akshay
1      Reva
2    Milind
dtype: object

In [42]:
n.ndim # check dimension of n

1

In [44]:
n.shape # check shape of n : 3 is 3 elements or 3 rows

(3,)

In [46]:
n.dtype # check dtype of n # 'O' means object type data

dtype('O')

In [48]:
n.size # check size of n ie the total number of elements present in n

3

## pd.Series(data, index, dtype)

In [49]:
pd.Series(data)

0    10
1    20
2    30
3    40
dtype: int64

In [50]:
# change the dtype 
pd.Series(data,dtype=float)

0    10.0
1    20.0
2    30.0
3    40.0
dtype: float64

In [51]:
pd.Series(data,dtype=str)

0    10
1    20
2    30
3    40
dtype: object

In [52]:
pd.Series(data,dtype=object)

0    10
1    20
2    30
3    40
dtype: object

## now lets work on index

In [53]:
pd.Series(data)

0    10
1    20
2    30
3    40
dtype: int64

In [56]:
# default index starts with 0 and ends at (n-1)
new_index = [101,102,103,104]
pd.Series(data,index=new_index)

101    10
102    20
103    30
104    40
dtype: int64

In [57]:
# we can also use range/np.arange/np.random
pd.Series(data,index=range(10,14))

10    10
11    20
12    30
13    40
dtype: int64

In [58]:
#posintionally we have: data,index,dtype 
pd.Series(data,range(21,25))

21    10
22    20
23    30
24    40
dtype: int64

In [59]:
pd.Series(data,np.random.random(4))

0.234492    10
0.333791    20
0.789924    30
0.293677    40
dtype: int64

In [60]:
# can we use alphbates or words an an index --> YES
x = pd.Series(data,['A','B','C','D'])
x

A    10
B    20
C    30
D    40
dtype: int64

In [61]:
n

0    Akshay
1      Reva
2    Milind
dtype: object

In [67]:
n.append(pd.Series(['Pooja', 'Saditya', 'Mahesh']))

C:\Users\abhis\AppData\Local\Temp\ipykernel_2460\439946585.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  n.append(pd.Series(['Pooja', 'Saditya', 'Mahesh']))

0     Akshay
1       Reva
2     Milind
0      Pooja
1    Saditya
2     Mahesh
dtype: object

In [68]:
n.append(pd.Series(['Pooja','Saditya','Mahesh']),ignore_index=True) # this ignore_index will continue the previous index

C:\Users\abhis\AppData\Local\Temp\ipykernel_2460\2813249528.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  n.append(pd.Series(['Pooja','Saditya','Mahesh']),ignore_index=True) # this ignore_index will continue the previous index

0     Akshay
1       Reva
2     Milind
3      Pooja
4    Saditya
5     Mahesh
dtype: object

## if you want access index from a Series

In [69]:
x

A    10
B    20
C    30
D    40
dtype: int64

In [71]:
x.index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [72]:
x.index = range(4)

In [73]:
x

0    10
1    20
2    30
3    40
dtype: int64

### Fetch values from Series

In [74]:
x

0    10
1    20
2    30
3    40
dtype: int64

In [75]:
x.values

array([10, 20, 30, 40], dtype=int64)

In [76]:
x.values = range(4)

AttributeError: can't set attribute

## rather use slicing, as direct assignment of values is not possible

In [77]:
x[:] = [100,200,300,400]

In [78]:
x

0    100
1    200
2    300
3    400
dtype: int64

In [79]:
x[:]

0    100
1    200
2    300
3    400
dtype: int64

In [80]:
x[:] = range(4)

In [81]:
x

0    0
1    1
2    2
3    3
dtype: int64

### you may have same index/ duplicate index

In [82]:
f = pd.Series([10,30,60],[0,1,0])
f

0    10
1    30
0    60
dtype: int64

In [83]:
f[0]

0    10
0    60
dtype: int64

In [84]:
# if we dont have index in a sequence 
f

0    10
1    30
0    60
dtype: int64

In [85]:
# to maintain sequence of an index: use reset_index()
f.reset_index()

   index   0
0      0  10
1      1  30
2      0  60

In [86]:
type(f.reset_index())

pandas.core.frame.DataFrame

In [87]:
# rmove extra index column from above output
f.reset_index(drop=True) #returns Series

0    10
1    30
2    60
dtype: int64

In [88]:
#PS: What is the type of numpy array?
type(np.array([]))

numpy.ndarray

In [89]:
x

0    0
1    1
2    2
3    3
dtype: int64

In [ ]:
type(x)